 


@media (max-width:1280px) {  
    .fondo{
        background-image: url(imagenes/fondo2.jfif);
        background-size: cover;
        height: 310vh;
         
       width: 100%;
       background-position: center; /* Centra la imagen de fondo */
                 
       display: flex; /* Utiliza Flexbox para alinear el contenido */
       align-items: center; /* Centra verticalmente el contenido */
       justify-content: center; /* Centra horizontalmente el contenido */
    }
}


 
/*horizontal*/
@media (max-width:768px) and (orientation: landscape)  {  
    .fondo{
        background-image: url(imagenes/fondo2.jfif);
        background-size: cover;
        height: 450vh;
         
       width: 100%;
       background-position: center; /* Centra la imagen de fondo */
                 
       display: flex; /* Utiliza Flexbox para alinear el contenido */
       align-items: center; /* Centra verticalmente el contenido */
       justify-content: center; /* Centra horizontalmente el contenido */
    }
}


@media (max-width:696px) {  
    .fondo{
        background-image: url(imagenes/fondo2.jfif);
        background-size: cover;
        height: 310vh;
         
       width: 100%;
       background-position: center; /* Centra la imagen de fondo */
                 
       display: flex; /* Utiliza Flexbox para alinear el contenido */
       align-items: center; /* Centra verticalmente el contenido */
       justify-content: center; /* Centra horizontalmente el contenido */
    }
}




 



@media (max-width:640px) {  
    .fondo{
        background-image: url(imagenes/fondo2.jfif);
        background-size: cover;
        height: 670vh;
         
       width: 100%;
       background-position: center; /* Centra la imagen de fondo */
                 
       display: flex; /* Utiliza Flexbox para alinear el contenido */
       align-items: center; /* Centra verticalmente el contenido */
       justify-content: center; /* Centra horizontalmente el contenido */
    }
}





@media (max-width:640px) {  
    .cuerpocontenedor{
        background-image: url(imagenes/fondo1.jpg);
        height: 600vh;
        background-size:  cover;
        width: 100%;
        
    }
}



@media (max-width:390px) {  
    .cuerpocontenedor{
        background-image: url(imagenes/fondo1.jpg);
        height: 700vh;
        background-size:  cover;
        width: 100%;
        
    }
}



@media (max-width:346px) {  
    .cuerpocontenedor{
        background-image: url(imagenes/fondo1.jpg);
        height: 810vh;
        background-size:  cover;
        width: 100%;
        
    }
}




/*rotacion de pantalla*/
@media (max-height:480px) {  
    .cuerpocontenedor{
        background-image: url(imagenes/fondo1.jpg);
        height: 810vh;
        background-size:  cover;
        width: 100%;
        
    }
}


@media (max-width:932px) and (orientation: landscape)  {  
    .fondo{
        background-image: url(imagenes/fondo2.jfif);
        background-size: cover;
        height: 950vh;
         
       width: 100%;
       background-position: center; /* Centra la imagen de fondo */
                 
       display: flex; /* Utiliza Flexbox para alinear el contenido */
       align-items: center; /* Centra verticalmente el contenido */
       justify-content: center; /* Centra horizontalmente el contenido */
    }
}
@media (max-width:915px) and (orientation: landscape)  {  
    .fondo{
        background-image: url(imagenes/fondo2.jfif);
        background-size: cover;
        height: 950vh;
         
       width: 100%;
       background-position: center; /* Centra la imagen de fondo */
                 
       display: flex; /* Utiliza Flexbox para alinear el contenido */
       align-items: center; /* Centra verticalmente el contenido */
       justify-content: center; /* Centra horizontalmente el contenido */
    }
}

@media (max-width:914px) and (orientation: landscape)  {  
    .fondo{
        background-image: url(imagenes/fondo2.jfif);
        background-size: cover;
        height: 950vh;
         
       width: 100%;
       background-position: center; /* Centra la imagen de fondo */
                 
       display: flex; /* Utiliza Flexbox para alinear el contenido */
       align-items: center; /* Centra verticalmente el contenido */
       justify-content: center; /* Centra horizontalmente el contenido */
    }
}

 
@media (max-width:528px) and (orientation: landscape)  {  
    .fondo{
        background-image: url(imagenes/fondo2.jfif);
        background-size: cover;
        height: 950vh;
         
       width: 100%;
       background-position: center; /* Centra la imagen de fondo */
                 
       display: flex; /* Utiliza Flexbox para alinear el contenido */
       align-items: center; /* Centra verticalmente el contenido */
       justify-content: center; /* Centra horizontalmente el contenido */
    }
}
